---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post: any) => ({
    params: { id: post.data.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { data } = post;
const { title, img, description, slug } = data;

const { Content } = await render(post);
---

<Layout>
  <main
    class="h-full w-full gap-7 flex items-center justify-center mt-20 mx-auto px-4"
  >
    <article class="max-w-5xl w-full flex flex-col items-center justify-center">
      <h1 class="text-5xl font-bold text-[#928952] mb-5 text-center">
        {title}
      </h1>

      <p class="mb-5 text-xl text-gray-400 text-center">{description}</p>

      <img
        src={img}
        alt={title}
        transition:name={`img-${slug}`}
        width="1408"
        height="768"
        class="w-full h-auto rounded-xl shadow-lg"
        loading="lazy"
      />

      <Content />
    </article>
  </main>
</Layout>
