---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post: any) => ({
    params: { id: post.data.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { data } = post;
const {
  title,
  author,
  img,
  description,
  date,
  readtime,
  slug,
  tags,
  category,
  lang,
} = data;

const { Content } = await render(post);
---

<Layout>
  <main class="h-full w-full gap-7 items-center justify-center mt-20">
    <article class="w-full flex flex-col items-center justify-center">
      <h1 class="text-4xl font-bold text-[#928952] mb-5">{title}</h1>
      <p class="mb-5 text-gray-400">{description}</p>
      <img src={img} alt={title} transition:name={`img-${slug}`} />
      <Content />
    </article>
  </main>
</Layout>
