---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const posts = await getCollection("posts");
---

<Layout>
  <div class="h-full w-full grid grid-cols-3 gap-7 items-center justify-center">
    {
      posts.map((post: any) => {
        const { data } = post;
        const {
          title,
          author,
          img,
          description,
          date,
          readtime,
          slug,
          tags,
          category,
          lang,
        } = data;
        return (
          <div>
            <a
              href={`/blog/${slug}`}
              class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
            >
              <img
                class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
                src={img}
                alt=""
                transition:name={`img-${slug}`}
              />
              <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                  {title}
                </h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                  {description}
                </p>
              </div>
            </a>
          </div>
        );
      })
    }
  </div>
</Layout>
