---
import { getCollection } from "astro:content";
import Button from "./Button.astro";
import type { BlogProps } from "../types.d.ts";
import type { string } from "astro:schema";
export interface Props extends BlogProps {}

export const prerender = true;
export function getStaticPaths() {
  return [
    { params: { lang: 'es' } },
    { params: { lang: 'en' } }
  ];
}
const { blog, lang, titleButton, readMore } = Astro.props as { blog: string; lang: string; titleButton: string; readMore: string; };

const posts = await getCollection("posts", ({ data }) => data.lang === lang);

// Mezcla aleatoriamente los posts
const shuffledPosts = posts.toSorted(() => 0.5 - Math.random());

const limitedPosts = shuffledPosts.slice(0, 3);

type Post = {
  data: {
    title: string;
    img: string;
    description: string;
    slug: string;
  };
};


---

<section aria-labelledby="noticias-title" id="blog">
  <h2
    class="text-3xl md:text-6xl font-cinzel text-center text-[#928952] mb-10 pt-20"
    id="noticias-title"
  >
    {blog}
  </h2>
  <div class="md:flex justify-center gap-8 grid grid-cols-1">
    {
      limitedPosts.map((post: Post) => {
        const { data } = post;
        const { title, img, description, slug } = data;
        return (
          <article class="flex flex-col m-5 xl:m-0  max-w-sm border rounded-lg shadow-sm bg-gray-800 border-gray-700">
            <a href={`/${lang}/blog/${slug}`} aria-label={`Leer más sobre: ${title}`}>
              <img
                class="rounded-t-lg"
                src={img}
                alt={title}
                transition:name={`img-${slug}`}
                width="1408"
                height="768"
                loading="lazy"
                sizes="(max-width: 768px) 100vw, 33vw"
              />
            </a>
            <div class="p-5 flex flex-col flex-grow">
              <a href={`/${lang}/blog/${slug}`}>
                <h3 class="mb-2 text-xl xl:text-2xl font-bold tracking-tight  text-white">
                  {title}
                </h3>
              </a>
              <div class="mt-auto">
                <p class="mb-3 font-normal text-gray-400 text-sm xl:text-lg">
                  {description}
                </p>
              </div>
              <div class="mt-auto">
                <a
                  href={`${lang}/blog/${slug}`}
                  class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white 0 rounded-lg  focus:ring-4 focus:outline-none  bg-gray-600 hover:bg-[#928952] focus:ring-gray-800"
                  aria-label={`Leer más sobre: ${title}`}
                >
                  {readMore}
                  <svg
                    class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 10"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M1 5h12m0 0L9 1m4 4L9 9"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </article>
        );
      })
    }
  </div>
  <Button title=`🪄 ${titleButton}` slug=`${lang}/blog` />
</section>
