---
import esFlag from "../assets/flags/es.svg?url";
import usFlag from "../assets/flags/us.svg?url";
const { lang = "es", slugLang = "" } = Astro.props;

const games = lang == "es" ? "juegos" : "Games";

// --- LÓGICA MEJORADA PARA SABER QUÉ PÁGINA ESTÁ ACTIVA ---
const pathname = Astro.url.pathname;
const isHome = pathname === `/${lang}` || pathname === `/${lang}/`;
const isBlog = pathname.startsWith(`/${lang}/blog`);
const isGames = pathname.startsWith(`/${lang}/games`);

// --- Lógica para el link de cambio de idioma ---
// Usamos 'section' para saber si estamos en 'blog' o 'games'
const [_, _lang, section] = pathname.split("/");
const currentSection = section != undefined ? `/${section}` : "";
const langSwitchUrl = lang == "en" 
  ? `/es${currentSection}/${slugLang}` 
  : `/en${currentSection}/${slugLang}`;
---

<nav
  class="fixed w-full z-50 top-0 start-0 border-b border-gray-900 dark:border-gray-800"
>
  <div
    class="max-w-screen-xl flex flex-wrap justify-between xl:items-center xl:justify-center mx-auto p-4 backdrop-blur-sm"
  >
    <div class="items-center justify-between flex md:w-auto">
      <ul
        class="flex md:p-0 rounded-lg md:gap-52 space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 font-bold"
      >
        <li>
          <a
            href={`/${lang}`}
            class="block py-2 px-3 text-gray-300 hover:text-[#928952] hover:scale-110 transition-all"
            aria-current={isHome ? "page" : false}
          >
            Home
          </a>
        </li>
        <li>
          <a
            href={`/${lang}/blog`}
            class="block py-2 px-3 text-gray-300 hover:text-[#928952] hover:scale-110 transition-all"
            aria-current={isBlog ? "page" : false}
          >
            Blog
          </a>
        </li>
        <li>
          <a
            href={`/${lang}/games`}
            class="block py-2 px-3 text-gray-300 hover:text-[#928952] hover:scale-110 transition-all"
            aria-current={isGames ? "page" : false}
          >
            {games}
          </a>
        </li>
        <div class="flex justify-end w-fit align-top">
          <a
            href={langSwitchUrl}
            class="flex gap-1 md:gap-2 cursor-pointer w-fit h-fit items-center"
            aria-label={lang == 'es' ? 'Change to English' : 'Cambiar a Español'}
          >
            <img
              src={esFlag}
              alt="Bandera España"
              class={`${lang == "es" ? "w-10" : "w-5"} transition-all h-fit`}
            />
            <span class="text-gray-300">|</span>
            <img
              src={usFlag}
              alt="Bandera EEUU"
              class={`${lang == "en" ? "w-10" : "w-5"} transition-all h-fit`}
            />
          </a>
        </div>
      </ul>
    </div>
  </div>
</nav>
