---
import shorts from "../data/videos.json";
import Button from "./Button.astro";
import { YouTube } from "@astro-community/astro-embed-youtube";

const generateVideoJSONLD = (video: Video) => {
  return JSON.stringify({
    "@context": "https://schema.org",
    "@type": "VideoObject",
    name: video.title,
    description: video.description,
    uploadDate: video.uploadDate,
    contentUrl: `https://www.youtube.com/watch?v=${video.videoId}`,
    embedUrl: `https://www.youtube.com/embed/${video.videoId}`,
    thumbnailUrl: `https://elpensadero.vercel.app${video.thumbnail}`,
    duration: video.duration,
  });
};

type Video = {
  title: string;
  description: string;
  src: string;
  id: string;
  type: string;
  thumbnail: string;
  uploadDate: string;
  videoId: string;
  duration: string;
};
---

<section
  id="shorts"
  class="min-h-screen w-full flex flex-col items-center justify-center px-4 mb-10"
>
  <h2
    class="text-3xl md:text-6xl font-cinzel text-center text-[#928952] mb-10 pt-20"
  >
    Shorts mágicos
  </h2>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 w-full max-w-6xl"
  >
    {
      shorts.map((video: Video) => {
        return (
          <article
            class="video-card relative group w-full max-w-[360px] aspect-[9/16] overflow-hidden rounded-xl shadow-lg cursor-pointer"
            data-src={video.src}
            data-title={video.title}
            aria-label={`Video corto: ${video.title}`}
          >
            <YouTube
              id={video.videoId}
              poster={video.thumbnail}
              title={video.title}
              class="w-full h-full object-cover"
              playlabel={`Reproducir: ${video.title}`}
            />

            <script
              type="application/ld+json"
              set:html={generateVideoJSONLD(video)}
            />
          </article>
        );
      })
    }
  </div>
  <Button
    title="✨ Más Videos"
    slug="https://www.youtube.com/@elpensadero_HP?sub_confirmation=1"
    blank="_blank"
  />
</section>
