---
import Layout from "../../../layouts/Layout.astro";
import Footer from "../../../components/Footer.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import type { BlogContent } from "../../../types.d.ts";

type Post = CollectionEntry<"posts">;

export const prerender = true;
export function getStaticPaths() {
  return [
    { params: { lang: 'es' } },
    { params: { lang: 'en' } }
  ];
}

const { lang } = Astro.params;
const langDif = lang == 'es' ? 'en' : 'es'
const posts = await getCollection("posts", ({ data }) => data.lang === lang);
const { frontmatter } = await import(`../../../content/${lang}/blog.md`) as { frontmatter: BlogContent };

const title = frontmatter.title
const subTitle = frontmatter.subTitle
const x = frontmatter.x
const read = frontmatter.read
const readMore = frontmatter.readMore
const titleLayout = frontmatter.titleLayout
const descriptionLayout = frontmatter.descriptionLayout


// Filtrado con type guards
const importantTrue = posts
  .filter((post): post is Post => post.data.important === true)
  .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());

const importantFalse = posts
  .filter((post): post is Post => !post.data.important)
  .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());

// Ordenamiento (manteniendo tu lógica)
let orderedItems: Post[] = [];
let i = 0, j = 0;

while (i < importantTrue.length || j < importantFalse.length) {
  if (i < importantTrue.length) {
    orderedItems.push(importantTrue[i]);
    i++;
  }

  let added = 0;
  while (added < 4 && j < importantFalse.length) {
    orderedItems.push(importantFalse[j]);
    j++;
    added++;
  }
}
orderedItems = orderedItems.reverse();
---

<Layout
  title={titleLayout}
  description={descriptionLayout}
  url={`/${lang}/blog`}
  canonical={`https://elpensaderohp.com/${lang}/blog/`}
  alternate={`https://elpensaderohp.com/${langDif}/blog/`}
>
  <main class="h-full w-full flex gap-7 items-center justify-center mb-10">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto mt-32 lg:mx-0">
        <h1
          class="text-4xl font-semibold tracking-tight text-pretty sm:text-6xl text-[#928952] text-center"
        >
          {title}
        </h1>
        <h2 class="mt-2 text-lg/8 sm:text-xl text-center">
          {subTitle}
        </h2>
      </div>
      <div
        class="mx-auto mt-10 grid grid-col-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-2"
      >
        {
          orderedItems.map((post: any) => {
            const { data } = post;
            const {
              title,
              author,
              img,
              description,
              date,
              readtime,
              slug,
              tags,
              important,
              category,
              lang,
            } = data;
            return (
              <article
                class:list={[
                  "flex   items-start justify-between gap-5 flex-col bg-gray-600 bg-opacity-20 rounded-2xl",
                  {
                    "lg:col-span-2 lg:flex-row": important,
                    "col-span-1 ": !important,
                  },
                ]}
              >
                <div
                  class:list={[
                    "flex items-center justify-cente rounded-xl",
                    {
                      "w-full": !important,
                    },
                  ]}
                >
                  <a href={`/${data.lang}/blog/${slug}`}>
                    <img
                      src={img}
                      alt={title}
                      transition:name={`img-${slug}`}
                      width="1408"
                      height="768"
                      class="rounded-lg"
                    />
                  </a>
                </div>
                <div
                  class:list={[
                    "col-span-3  px-5 flex flex-col flex-grow justify-between",
                    {
                      "pt-5 ": important,
                      "pt-2": !important,
                    },
                  ]}
                >
                  <div class="flex items-center gap-x-4 text-xs ">
                    <time datetime="2020-03-16" class="text-gray-500">
                      {date}
                    </time>
                    <a
                      href={`/${data.lang}/blog/${slug}`}
                      class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
                    >
                      {category}
                    </a>
                  </div>
                  <div class="group relative">
                    <h3
                      class:list={[
                        "mt-3 font-semibold text-gray-200 ",
                        {
                          "text-3xl": important,
                          "text-2xl": !important,
                        },
                      ]}
                    >
                      <a href={`/${data.lang}/blog/${slug}`}>
                        <span class="absolute inset-0 " />
                        {title}
                      </a>
                    </h3>
                    <p class="mt-5 line-clamp-3 text-lg text-gray-400">
                      {description}
                    </p>
                  </div>
                  <div class="relative flex items-end justify-around gap-x-4 mb-5 ">
                    <div class="text-sm/6 p-5">
                      <p class="font-semibold text-gray-200">
                        <a href={`/${data.lang}/blog/${slug}`}>
                          <span class="absolute inset-0" />
                          {x} {author}
                        </a>
                      </p>
                      <p class="text-gray-500">{read}: {readtime}</p>
                    </div>
                    <div class="justify-center  flex z-10 ">
                      <a
                        href={`/${data.lang}/blog/${slug}`}
                        class="text-white border-slate-600 rounded-xl p-5 border text-2xl font-medium mt-10 hover:border-[#928952] transition-all text-nowrap"
                      >
                        🪄 {readMore}
                      </a>
                    </div>
                  </div>
                </div>
              </article>
            );
          })
        }
      </div>
    </div>
  </main>
  <Footer />
</Layout>
